
	
	<div class="right" ng-show="right.isSelected(1)">
						
			<h2>&nbsp;&nbsp;All Companies</h2>
			
				<div class="row">
					<div class="col-md-8">
						<form class="form-inline well well-sm">
							<span class="glyphicon glyphicon-search"></span>
							
							<div class="form-group">
								<input	type="text"
										class="form-control"
										id="name"
										ng-model="search.$"
										placeholder="Search..."
								/>
							</div>
						</form>
					</div>
				</div>
				<table class="table table-bordered">
					<tr><th>Id
							<span 	ng-click="order='id'"
									class="glyphicon glyphicon-menu-up"></span>
							<span 	ng-click="order='-id'"
									class="glyphicon glyphicon-menu-down"></span>
						</th>
						<th>Name 	
								<span 	ng-click="order='compName'"
										class="glyphicon glyphicon-menu-up"></span>
								<span 	ng-click="order='-compName'" 
										class="glyphicon glyphicon-menu-down"></span>
						</th>
						<th>Password</th>
						<th>Email	<br>
								<span 	ng-click="order='email'" 
										class="glyphicon glyphicon-menu-up"></span>
								<span 	ng-click="order='-email'"
										class="glyphicon glyphicon-menu-down"></span>
						</th>
					</tr>
					<tr ng-repeat="company in sampleComps | filter:search | orderBy:order | limitTo : right.limit">
					<td> {{company.id}}</td>
					<td><button class="btn btn-primary btn-block btn-sm" 
								ng-click=	"showInCompanyPage(company); 
											right.selectTab(3);
											getCompCoupons(company.id);
											updateCompForm.email.$setPristine();
											updateCompForm.password.$setPristine()"
						style="float:left">
						 {{company.compName}}</button> </td>
					<td> {{company.password}}</td>
					<td> {{company.email}}</td>
					</tr>
					<tr ng-show="showButton">
						<td colspan="4"><button style="width:100%"
												class="btn btn-primary" 
												ng-show="right.limit"	
												ng-click="right.limit = undefined">
						Click for all {{sampleComps.length}} 
						companies or use the search option...</button>
						</td>
					</tr>
			</table>
	</div>
	
	<div class="right" ng-show="right.isSelected(2)">
		
		
			<h2>&nbsp;&nbsp;Create New Company</h2>
			
			
			<form 	name="right.addCompForm"
					ng-submit="addCompfunction(addComp)"
					novalidate="novalidate"
					>
			
			<div class="form-group">
				<label name="compName" class="control-label">
				Company name: </label> 
				<input	type="text"
						id="compName"
						maxlength="20"
						class="form-control"
						ng-model="right.addComp.compName"
						required="required"
						name="name"
						ng-pattern-err-type="badUserName"
						ng-pattern="/^[A-Za-z0-9_]{1,20}$/"/>
			</div>
			
			<div class="form-group">
				<label name="password1" class="control-label">
				Password:
				</label>
				<input	type="password"
						id="password1"
						maxlength="10"
						class="form-control"
						ng-model="right.addComp.password"
						required="required"
						name="password"
						ng-maxlength="10"
						ng-minLength="4"
						ng-pattern="/((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/"
						ng-pattern-err-type="badPassword"/>
			</div>
			
			<div class="form-group">
				<label name="password2" class="control-label">
				Confirm Password:
				</label>
				<input	type="password"
						id="password2"
						maxlength="10"
						class="form-control"
						ng-model="right.addComp.password2"
						required="required"
						name="password"
						ng-pattern="addComp.password"
						ng-pattern-err-type="dontMatch"/>
			</div>
			
				<span type="password" 
				     ng-model="right.addComp.password2"
				     password-match="right.addComp.password" />
		     			
			<div class="form-group">
				<label name="email" class="control-label">
				Email:
				</label>
				<input	type="email"
						name="email"
						id="email"
						maxlength="20"
						class="form-control"
						ng-model="right.addComp.email"
						required="required"
						/>
			</div>

			<div class="form-group">
				<button class="btn btn-primary"
						ladda="submitting"
						data-style="expand-right"
						type="submit">
					<span ng-show="!submitting">Create company</span>
					<span ng-show="submitting">Creating company</span>
				</button>
			</div>
		</form>
		<div>
		<button class="btn btn-primary" ng-click="right.resetAddCompForm()">Reset form</button>
		</div>
	</div>
	
	<div class="right" ng-show="right.isSelected(3)">
		 
		 
		 <h2 align="center">{{myCompany.compName}}</h2>
			
			<form 	ng-submit="updateComp()"
					novalidate="novalidate"
					name="updateCompForm"
					>
			<div class="form-group">
				<label name="password1" class="control-label">
				Password:
				</label>
				<input	type="text"
						id="password1"
						maxlength="10"
						class="form-control"
						ng-model="myCompany.password"
						placeholder="Change current password:{{myCompany.password}}"
						required="required"
						name="password"
						ng-maxlength="10"
						ng-minLength="4"
						ng-pattern="/((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/"
						ng-pattern-err-type="badPassword"/>
			</div>

			<div class="form-group">
				<label name="email" class="control-label">
				Email:
				</label>
				<input	type="email"
						name="email"
						id="email"
						maxlength="20"
						class="form-control"
						ng-model="myCompany.email"
						/>
						
			</div>
			<div class="form-group">
					<button class="btn btn-primary"
							ladda="submitting"
							data-style="expand-right"
							type="submit"
							ng-disabled="updateCompForm.email.$pristine && updateCompForm.password.$pristine">
						<span ng-show="!submitting">Enter new values to update</span>
						<span ng-show="submitting">updating company</span>
					</button>
				</div>
			</form> 
			<div>
				<button class="btn btn-danger"
						data-style="expand-right"
						ng-click="removeComp(myCompany);
								right.selectTab(2)">
						Delete Company						
				</button>
			</div>
		<br/>
		<div ng-hide="showCompCoupons"><h3>This company does not have coupons</h3></div>
		<div ng-show="showCompCoupons">	
				<h2>&nbsp;&nbsp;Company's Coupons</h2>
			
			<table  class="table table-bordered">
			<tr>
			<th>Id 	<span 	ng-click="orderCoupons='id'"
							class="glyphicon glyphicon-menu-up">
					</span>
					<span 	ng-click="orderCoupons='-id'"
							class="glyphicon glyphicon-menu-down">
					</span>
			</th>
			<th>Title</th>
			<th>StartDate</th>
			<th>EndDate</th>
			<th>Amount</th>
			<th>Amount Left</th>
			<th>Type</th>
			<th>Message</th>
			<th>Price</th>
			<th>image</th>
			</tr>

			<tr ng-repeat="coupon in companyCoupons  | filter:search | orderBy:orderCoupons"
				ng-style="{'background-color': $id == selectedIndex ? 'lightgray' :''}"
				ng-click="selectCoupon($id)">
			<td> {{coupon.id}}</td>
			<td> {{coupon.title}}</td>
			<td> {{coupon.startDate | date:"longDate"}}</td>
			<td> {{coupon.endDate | date:"longDate"}}</td>
			<td> {{coupon.amount}}</td>
			<td> {{coupon.amountLeft}}</td>
			<td> {{coupon.type}}</td>
			<td> {{coupon.message}}</td>
			<td> {{coupon.price}}</td>
			<td> {{coupon.image}}</td>
			</tr>
			</table>
		</div>
			
	</div>