<!DOCTYPE html>
<html ng-app="administrator">
<head>
<meta charset="windows-1255">
<title>Admin Coupon Services</title>
	<link rel="stylesheet" type="text/css" href="./CSS/client.css"></link>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="./bower_components/Ladda-master/dist/ladda-themeless.min.css" ></link>
	<!-- jQuery library -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" ></script>
	<script src="./bower_components/angular/angular.min.js" ></script>
    <script type="text/javascript" src="./JS/coupon_system.js" ></script>
	<!-- Latest compiled JavaScript -->
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
	<script src="./bower_components/angular-auto-validate/dist/jcs-auto-validate.min.js" ></script>
	<script src="./bower_components/Ladda-master/dist/spin.min.js" ></script>
	<script src="./bower_components/Ladda-master/dist/ladda.min.js" ></script>
	<script src="./bower_components/angular-ladda-master/dist/angular-ladda.min.js" ></script>
</head>

<body >

<div class="facade">
		
		<div class="logo">
			<h1 style="color: white;">Coupon System</h1>
		</div>
		
	<section ng-controller="CustomerController as right">
			<div class="left" >
			<h2 style="text-align: center;">Menu</h2>
			<ul class="nav nav-pills">
				<li ng-class="{ active: right.isSelected(1) }" style="width:100%" >
					<button class="btn btn-default btn-block" ng-click="right.selectTab(1); getCustomerCoupons()">My Coupons</button>
				</li>
				<li ng-class="{ active: right.isSelected(2) } " style="width:100%">
					<button class="btn btn-default btn-block"  ng-click="right.selectTab(2); showCouponsForSell()">All Coupons</button>
				</li>
				<li ng-class="{ active: right.isSelected(3) }" style="width:100%">
					<button class="btn btn-default btn-block"  ng-click="right.selectTab(3) ">Coupons By Type</button>
				</li>
				<li ng-class="{ active: right.isSelected(4) }" style="width:100%">
					<button class="btn btn-default btn-block" ng-click="right.selectTab(4); getCusts()">Coupons By Price</button>
				</li>
				<li ng-class="{ active: right.isSelected(5) }" style="width:100%">
				<!-- 	<button class="btn btn-default btn-block" ng-click="right.selectTab(4); getCusts()">Coupons By Price</button> -->
				</li>
			</ul>
		</div>
		
		<div class="right" ng-show="right.isSelected(1)">
		
		<h2>&nbsp;&nbsp;My Coupons</h2>
			
				<div class="row">
					<div class="col-md-8">
						<form class="form-inline well well-sm">
							<span class="glyphicon glyphicon-search"></span>
							
							<div class="form-group">
								<input	type="text"
										class="form-control"
										id="name"
										ng-model="search.$"
										placeholder="Search..."
								/>
							</div>
						</form>
					</div>
				</div>
				
			<table  class="table table-bordered">
			<tr>
			
			<th>Title
				<span 	ng-click="orderCoupons='title'"
							class="glyphicon glyphicon-menu-up">
					</span>
					<span 	ng-click="orderCoupons='-title'"
							class="glyphicon glyphicon-menu-down">
					</span>
			</th>
			<th>EndDate</th>
			<th>Type</th>
			<th>Info</th>
			</tr>

			<tr ng-repeat="coupon in customerCoups  | filter:search | orderBy:orderCoupons | limitTo : right.limit"
				ng-style="{'background-color': $id == selectedIndex ? 'lightgray' :''}"
				ng-click="selectCoupon($id)">
			<td><!-- <button class="btn btn-primary btn-block btn-sm" 
						ng-click="showInCouponPage(coupon); 
								right.selectTab(5)"
						style="float:left">  -->{{coupon.title}}</button></td>
			<td> {{coupon.endDate | date:"shortDate"}}</td>
			<td> {{coupon.type}}</td>
			<td> <button class="btn btn-primary btn-block btn-sm" 
						ng-click="infoCoupon(coupon)"
						style="float:left"> 
			<span class="	glyphicon glyphicon-eye-open"></span></p> </button></td>
			</tr>
			<tr ng-show="showButton">
				<td colspan="4"><button style="width:100%"
										class="btn btn-primary" 
										ng-show="right.limit"	
										ng-click="right.limit = undefined">
						Click for all {{customerCoups.length}} 
						coupons or use the search option...</button>
				</td>
			</tr>
			</table>
		</div>
		
		<div class="right" ng-show="right.isSelected(2)">
		
		<h2>&nbsp;&nbsp;Buy Coupons</h2>
		<div class="row">
					<div class="col-md-8">
						<form class="form-inline well well-sm">
							<span class="glyphicon glyphicon-search"></span>
							
							<div class="form-group">
								<input	type="text"
										class="form-control"
										id="name"
										ng-model="search.$"
										placeholder="Search..."
								/>
							</div>
						</form>
					</div>
				</div>
				
			<table  class="table table-bordered">
			<tr>
			
			<th>Title
				<span 	ng-click="orderCoupons='title'"
							class="glyphicon glyphicon-menu-up">
					</span>
					<span 	ng-click="orderCoupons='-title'"
							class="glyphicon glyphicon-menu-down">
					</span>
			</th>
			<th>EndDate</th>
			<th>Type</th>
			<th>Price</th>
			<th>Info</th>
			</tr>

			<tr ng-repeat="coupon in coupsForSale  | filter:search | orderBy:orderCoupons| limitTo : right.limit"
				ng-style="{'background-color': $id == selectedIndex ? 'lightgray' :''}"
				ng-click="selectCoupon($id)">
			<td><button class="btn btn-primary btn-block btn-sm" 
						ng-click="buyCoupon(coupon);
								right.selectTab(5)"
						style="float:left"> {{coupon.title}}</button></td>
			<td> {{coupon.endDate | date:"shortDate"}}</td>
			<td> {{coupon.type}}</td>
			<td> {{coupon.price | number : 2}}</td>
			<td> <button class="btn btn-primary btn-block btn-sm" 
						ng-click="infoCoupon(coupon)"
						style="float:left"> 
			<span class="	glyphicon glyphicon-eye-open"></span></p> </button></td>
			<tr ng-show="showButton">
							<td colspan="4"><button style="width:100%"
												class="btn btn-primary" 
												ng-show="right.limit"	
												ng-click="right.limit = undefined">
						Click for all {{coupsForSale.length}} 
						coupons or use the search option...</button>
							</td>
			</tr>
			</table>
		
		</div>
		
		<div class="right" ng-show="right.isSelected(3)">
		<br><br>
					
					<form 	id="frmOptions" 
							class="span12" 
							name="right.couponTypeForm" 
							ng-submit="	getCouponsByType(right.getCoupBy.type); 
										right.selectTab(2)"
							novalidate="novalidate">
					    <div class="row-fluid">   
					        <div class="form-group">
					            <label class="control-label">Choose the type of coupons you would like to watch:</label>
					            <div class="input-group ">
					                		<select class="form-control col-xs-6"
													ng-model="right.getCoupBy.type" 
													required="required">
													<option value=''>- Please Choose -</option>
													<option value="RESTURANTS">		RESTURANTS</option>
													<option value="ELECTRICITY">	ELECTRICITY</option>
													<option value="FOOD">			FOOD</option>
													<option value="HEALTH">			HEALTH</option>
													<option value="SPORTS">			SPORTS</option>
													<option value="CAMPING">		CAMPING</option>
													<option value="TRAVELLING">		TRAVELLING</option>
											</select>
					                <span class="input-group-btn">
						
										<button class="btn btn-primary" 
												type="submit">
												Show by type</button>
					
									</span>
					            </div>
					        </div>
					    </div>
					</form>
		
		</div>
		
		<div class="right" ng-show="right.isSelected(4)">
		<br><br>	
					<form 	id="frmOptions" 
							class="span12" 
							name="right.couponPriceForm" 
							ng-submit="	getCouponsByPrice(right.getCoupBy.price);  
										right.selectTab(2)"
							novalidate="novalidate">
					    <div class="row-fluid">   
					        <div class="form-group">
					            <label class="control-label">Enter highest price of coupons you would like to watch:</label>
					            <div class="input-group ">
					                <input 	id="uploadname"
					                		class="form-control"
					                		type="number"
											step="0.01"
											id="price"
											maxlength="10"
											min="0"
											class="form-control"
											ng-model="right.getCoupBy.price"
											ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
											ng-pattern-err-type="validPrice"
											required="required"
											name="price"
											ng-maxlength="10"
											ng-minLength="1"/>
					                <span class="input-group-btn">
						
										<button class="btn btn-primary" 
												type="submit">
												Show by price</button>
					
									</span>
					            </div>
					        </div>
					    </div>
					</form>
					
					
		</div>
		
		<div class="right" ng-show="right.isSelected(5)">
		<br><br><br>
					<h2 align="center"><------- What's next?</h2>
		</div>


	</section>
</body>
</html>