@CHARSET "windows-1255";

.facade {
	width: 41em;
	text-align: left;
	margin: 0 auto;
	margin: 0 auto;
	text-align: left;
	margin: 0 auto;
	max-width: 154em;
	
}

.logo {
	Background-color: black;
	height: 2.5em;
	text-align: center;
	margin-bottom: 1em;
	text-color: white;
}

.left {
	width: 10em;
	min-height: 500px;
	background-color: lightblue;
	float: left;
}

.right {
	width: 30em;
	margin-left: 1em;
	min-height: 500px;
	background-color: lightgreen;
	float: left;
	
}

table, th, td, tr{
	border: 1px solid black; 
	border-collapse: collapse;
}
